<launch>
  <arg name = "record" default = "disable"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      <arg name="world_file" value="$(find walkerbot)/world/walledHuman"/>
  </include>

  <node
    pkg = "walkerbot"
    name = "walkerbot"
    type = "walker"
    output = "screen"
  />

  <node
    pkg = "rosbag"
    name = "record"
    type = "record"
    args = "-a -O $(find walkerbot)/results/simulation.bag -x /camera/(.*)"
    if = "$(eval record == 'enable')"
  />
</launch>
